.imgB {
    position: relative;
    animation: myfirst 1s normal forwards ease-in-out;
  }
  
  @keyframes myfirst {
    0%   {left:-1100px; top:0px;}
    25%  {left:-1100px; top:0px;}
    50%  {left:-1100px; top:0px;}
    75%  {left:0px; top:0px;}
    100% {left:0px; top:0px;}
  }